@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@300;500;700&display=swap');

$pink:#F67E7E;
$primary_green: #014E56;
$dark_green: #002529;
$green: #012F34;
$light_green: #004047 ;
$blue:#2C6269;
$light_blue: #79C8C7;
$white: #FFFFFF;
$font:'Livvic', sans-serif;

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: $primary_green;
}

p{
    color: $white;
    font-family: $font;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    text-align: center;
}

span{
    color: $pink;
}


@mixin btn($color){
    background-color: unset;
    padding: 16px 32px;
    font-size: 18px;
    font-weight: 700;
    color: $color;
    border: 3px solid $color;
    border-radius: 100px;
}

@mixin h1_large{
    color: $white;
    font-family: $font;
    font-size: 100px;
    line-height: 100px;
    font-weight: 700;
}
@mixin h1_small{
    color: $white;
    font-family: $font;
    font-size: 64px;
    line-height: 56px;
    font-weight: 700;
}

h1{
    @include h1_large()
}

h2{
    color: $white;
    font-family: $font;
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
}

h3{
    color: $white;
    font-family: $font;
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 24px;
    margin: 48px 0 60px 0;

    h1{
        width: fit-content;
        @include h1_small();
        font-size:32px;
    }
    .menu_burger{
        width: fit-content;

        input{
            display: none;
        }
        input:checked + nav{
            display: flex;
            height: 100vh;
        }
        nav{
            display: none;
            flex-direction: column;
            padding: 64px 32px 0 96px;
            background-color: $blue;
            position: absolute;
            top: 0;
            right: 0;
            display: none;
            height: 0;
            width: 80%;
            overflow: hidden;
            z-index: 2;

            label{
                align-self: end;
                height: 50px;
                width: 50px;
                img{
                    height: 100%;
                    width: 100%;
                }
            }
            ul{
                list-style: none;
                display: flex;
                flex-direction: column;
                gap: 50px;
                a{
                    font-size: 32px;
                    text-decoration:none;
                    color: $white;
                    font-family:$font; 
                }
                button{
                    @include btn($color:$white)
                }
            }
            .svg_bottom_left{
                position: absolute;
                bottom: 0;
                right: 0;
                transform: translateX(50%);
            }
        }
    }
}

footer{
    
    .ready{
        background-color: $pink;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 128px 0;
        position: relative;
        gap: 32px;

        h2{
            color:$green;
            text-align: center;
        }
        button{
            @include btn ($color:$green)
        }
        .svg_bottom_left{
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
    .footer{
        background-color: $dark_green;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 64px;
        gap: 32px;

        h2{
            font-size: 32px;
        }

        p{
            color: #2C6269;
        }

        div{
            display: flex;
            gap: 32px;
        }

        ul{
            display: flex;
            flex-direction: row;
            gap: 32px;
            li{
                list-style: none;
                a{
                    text-decoration:none;
                    color: $white;
                    font-family:$font; 
                }
            }
        }
    }
}

@import "index.scss" ;