.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding: 32px 48px 128px 48px;
    h2{
        text-align: center;  
        margin-bottom: 32px;
    }
    
    //only display in pc
    hr{
        display: none;
    }

    .svg_bottom_right{
        transform: translateY(50%) translateX(50%);
    }
}

.meet{
    overflow: hidden;
    background-color: $light_green;
    position: relative;
    padding: 96px 32px 64px 32px;

    .svg_top_left{
        transform: translateY(-50%) translateX(-50%);
    }

    h2{
        text-align: center;
        font-size: 32px;
        margin-bottom: 32px;
    }

    article{
        background-color: $green;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 16px;
        padding: 64px 0;
        position: relative;
        margin-bottom: 64px;

        h3{
            color: $light_blue;
        }

        p{
            font-style: italic;
            font-weight: 300;
        }

        .circle{
            border-radius: 50%;
            width: 100px;
            height: 100px;
            overflow: hidden;
            border: 2px solid $white;
            margin-top: 12px;
            img{
                width: 100%;
                height: 100%;
            }
        }

        button{
            position: absolute;
            background-color: $pink;
            border-radius: 50%;
            border: none;
            top: 100%;
            height: 50px;
            width: 50px;
            transform: translateY(-50%);
        }
    }
}

.client{
    background-color: $green;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 96px 0;
    gap: 64px;

    .svg_top_left{
        transform: translateX(-50%) translateY(-50%);
    }

    h2{
        text-align: center;
        margin-bottom: 32px;
    }
    .img_marque{
        width: 50%;
    }
}

@media screen and (min-width:$breakpoint_tablette){
    .about{
        .svg_bottom_right{
            transform: translateX(50%);
        }
        p{
            max-width: 540px;
        }
    }

    .meet{
        padding: 96px 64px 64px 64px;
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    
        .svg_top_left{
            transform: translateX(-50%);
        }
        
        h2{
            margin-bottom: 64px;
            width: 100%;
        }

        article{
            width: 47.5%;
        }
    }
    .client{
        flex-direction: row;
        flex-wrap: wrap;
        padding: 96px 64px;
        gap: 0;
        .svg_top_left{
            transform: translatey(-50%);
        }
        h2{
            width: 100%;
        }

        .img_marque{
            width: 15%;
        }
    }
}


@media screen and (min-width:$breakpoint_pc){
    .about{
        flex-direction: row;
        justify-content: space-around;
        padding: 64px 128px;

        h2{
            font-size: 64px;
        }

        div{
            display: flex;
            flex-direction: column;
            gap: 32px;
            hr{
                display: block;
                width: 64px;
                border: 2px solid $pink;
            }
            p{
                text-align: start;
            }
        }
    }
    .meet{
        padding: 128px;
        h2{
            font-size:48px ;
        }
        article{
            width: 30%;
        }
    }

    .client{
        padding: 128px 64px;

        .svg_top_left{
            transform: none;
        }
    }
}