header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 24px;
    margin: 48px 0 60px 0;

    h1{
        width: fit-content;
        @include h1_small();
        font-size:32px;
    }
    .menu_burger{
        width: fit-content;

        input{
            display: none;
        }
        input:checked + nav{
            display: flex;
            height: 100vh;
        }
        nav{
            display: none;
            flex-direction: column;
            padding: 64px 32px 0 96px;
            background-color: $blue;
            position: absolute;
            top: 0;
            right: 0;
            display: none;
            height: 0;
            width: 80%;
            overflow: hidden;
            z-index: 2;

            label{
                align-self: end;
                height: 50px;
                width: 50px;
                img{
                    height: 100%;
                    width: 100%;
                }
            }
            ul{
                list-style: none;
                display: flex;
                flex-direction: column;
                gap: 50px;
                a{
                    font-size: 32px;
                    text-decoration:none;
                    color: $white;
                    font-family:$font; 
                }
                .btn{
                    @include btn($color:$white)
                }
            }
            .svg_bottom_right{
                transform: translateX(50%);
            }
        }
    }
}

@media screen and (min-width:$breakpoint_tablette){
    header{
        justify-content: normal;
        label,img{
            display: none;
        }
        .menu_burger {
            width: 100%;
            nav{
                display: block;
                position: static;
                padding: 0;
                height: fit-content;
                width: 100%;
                background-color: unset;

                ul{
                    flex-direction: row;
                    align-items: center;
                    justify-content: start;
                    padding: 0 10%;

                    li{
                        height: fit-content;
                        a{
                            font-size: 16px;
                        }
                    }
                        :nth-child(3){ 
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: end;
                            .btn{
                                display: block;
                                width: fit-content;
                                padding: 8px 16px;
                            }
                        } 
                }
            }
             input:checked + nav{
                display: block;
            }
        }
    } 
}